
title #{title} - #{name}
link(rel="stylesheet" href=bootstrapTheme)
each item in customCSS
	link(rel="stylesheet" href=item)
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
each item in customScripts
	script(src=item)

