include mixins

mixin index(directory)
	ul
		each val, index in directory
			li
				a(href=val)= index


doctype html
html
	head
		include head
	body
		include menu
		.container
			h1 Directory Listing of #{name}
			+index(directory)
