//- Menu
mixin menu(nav)
	ul(class="nav navbar-nav")
		+submenu(nav)

mixin submenu(elements)
	each val, index in elements
		- if (val instanceof Object){
		li(class="dropdown")
			a(href="#" class="dropdown-toggle" data-toggle="dropdown")= index
			ul(class="dropdown-menu")
				+submenu(val)
		- } else {
		li
			a(href=val)= index
		- }

